<!--<div class="listOfEmployees" *ngFor="let employee of this.crudService.employees$ | async">-->
<!--  &lt;!&ndash;  {{employee | json}}&ndash;&gt;-->
<!--  <div class="employeeCard">-->
<!--    <nav class="employeeKey"><b>key: </b> {{employee.key}}</nav>-->
<!--    <div class="name employeeInfo">-->
<!--      <span class="employeeCardBundle"><b>{{this.getKeyByValue(employee.value,employee.value.name)}} :</b></span>-->
<!--      <div class="employeeContentWrap">-->
<!--        <input class="form-control employeeContent"-->
<!--               type="text"-->
<!--               placeholder="{{employee.value.name}}"-->
<!--               [(ngModel)]="employee.value.name">-->
<!--        <button class="btn btn-primary btn-sm"-->
<!--                (click)="updateCurrentEmployee(employee.key, employee.value,employee.value.name)">update-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="name employeeInfo">-->
<!--      <span class="employeeCardBundle"><b>{{this.getKeyByValue(employee.value,employee.value.age)}} :</b></span>-->
<!--      <div class="employeeContentWrap">-->
<!--        <input class="form-control employeeContent"-->
<!--               type="number"-->
<!--               placeholder="{{employee.value.age}}"-->
<!--               [(ngModel)]="employee.value.age">-->
<!--        <button class="btn btn-primary btn-sm"-->
<!--                (click)="updateCurrentEmployee(employee.key, employee.value,employee.value.age)">update-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="name employeeInfo">-->
<!--      <span class="employeeCardBundle"><b>{{this.getKeyByValue(employee.value,employee.value.address)}} :</b></span>-->
<!--      <div class="employeeContentWrap">-->
<!--        <input class="form-control employeeContent"-->
<!--               type="text"-->
<!--               placeholder="{{employee.value.address}}"-->
<!--               [(ngModel)]="employee.value.address">-->
<!--        <button class="btn btn-primary btn-sm"-->
<!--                (click)="updateCurrentEmployee(employee.key, employee.value,employee.value.address)">update-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="deleteEmployeeWrap">-->
<!--      <button class="btn btn-danger btn-sm deleteEmployee"-->
<!--              (click)="deleteCurrentEmployee(employee.key)">delete-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<ng-container *ngIf="employeeList && employeeList.length">
  <div class="listOfEmployees" *ngFor="let employee of employeeList ">
    <form class="employeeCard form-group" [formGroup]="employeeForm">
      <nav class="employeeKey"><b>key: </b> {{employee.key}}</nav>
      <div class="name employeeInfo" *ngFor="let section of employee.value | keyvalue">
        <span class="employeeCardBundle"><b>{{this.getKeyByValue(employee.value, section.value)}} :</b></span>
        <div class="employeeContentWrap">
          <input class="form-control employeeContent"
                 [type]="testType(section.value)"
                 placeholder="{{section.value}}"
                 formControlName="employee-{{section.key}}"
                 #inputValue>
          <button class="btn btn-primary btn-sm"
                  (click)="updateCurrentEmployee(employee.key,section.key, inputValue.value)">update
          </button>
        </div>
      </div>
      <div class="deleteEmployeeWrap">
        <button class="btn btn-danger btn-sm deleteEmployee"
                (click)="deleteCurrentEmployee(employee.key)">delete
        </button>
      </div>
    </form>
  </div>
</ng-container>


<!--<ng-container *ngIf="employeeList && employeeList.length">-->
<!--<div class="listOfEmployees" *ngFor="let employee of employeeList">-->
<!--  <div class="employeeCard">-->
<!--    <div [formGroup]="employeeForm">-->
<!--      <nav class="employeeKey"><b>key: </b> {{employee.key}}</nav>-->
<!--      <div class="name employeeInfo" *ngFor="let prop of employee.value | keyvalue">-->
<!--        <span class="employeeCardBundle"><b>{{this.getKeyByValue(employee.value,employee.value.name)}} :</b></span>-->
<!--        <div class="employeeContentWrap">-->
<!--          <input class="form-control employeeContent"-->
<!--                 type="text"-->
<!--                 placeholder="{{prop.value}}"-->
<!--                 formControlName="employee-{{prop.key}}">-->
<!--          <button class="btn btn-primary btn-sm"-->
<!--                  (click)="updateCurrentEmployee(employee.key, employee.value,employee.value.name)">update-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="deleteEmployeeWrap">-->
<!--        <button class="btn btn-danger btn-sm deleteEmployee"-->
<!--                (click)="deleteCurrentEmployee(employee.key)">delete-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</ng-container>-->
