<div [formGroup]="form" class="containerEmployee">

  <div class="containerLabel">

    <div class="labelContent "
         [attr.for]="employee.id">{{employee.label}}
    </div>

  </div>
  <div [ngSwitch]="employee.controlType" class="containerInputEmployee">
    <input *ngSwitchCase="'textBox'"
           [formControlName]="employee.id"
           [id]="employee.id"
           [type]="employee.type"
           class="form-control">
    <input *ngSwitchCase="'numberBox'"
           [formControlName]="employee.id"
           [id]="employee.id"
           [type]="employee.type"
           class="form-control">
  </div>

</div>
