<div [formGroup]="form" class="containerEmployee">

  <div class="containerLabel">
    <div class="innerContainerLabel">
      <div class="labelContent " [attr.for]="employee.id">{{employee.label}}</div>
    </div>
    <div class="innerContainerLabel">
      <button class="btn btn-danger btn-sm "
              (click)="employeeSectionDelete(employee.id)">
        delete
      </button>
    </div>

  </div>
  <div [ngSwitch]="employee.controlType" class="containerInputEmployee">
    <input *ngSwitchCase="'textBox'"
           [formControlName]="employee.id"
           [id]="employee.id"
           [type]="employee.type"
           class="form-control">
    <input *ngSwitchCase="'numberBox'"
           [formControlName]="employee.id"
           [id]="employee.id"
           [type]="employee.type"
           class="form-control">
  </div>

</div>
