@import "~bootstrap/dist/css/bootstrap.css";
body,html{
  height: 100%;
}
test
.navbarEmlpoyee {
  position: relative;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: #986e6e;
  color: white;
  size: 17px;
  width: 100%;
}

.mainWrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*background: blue;*/
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex: 7;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  /*border:1px dotted blue ;*/
}

.row {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  padding: 20px;
}

.form-group {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  /*border: 1px dotted red;*/
}

.listEmployeesContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex:7;

  width: 70%;
  background: #646464;
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
  border: 2px red;
  margin: 20px;
}

.listOfEmployees{

  padding: 10px;
}

app-list-employees {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.containerLabel{
 font-weight: bold;
}

.containerInput{
  /*background:cornflowerblue;*/
  width: 100%;
}

.containerNewEmployee{
  /*background: yellow;*/
  width:100%;
}
.newEmployee{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


element.style {
}

form.ng-untouched.ng-pristine.ng-invalid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btnSave{
  width: 50%;
}
