body,html{
  height: 100%;
}
.navbarEmployee {
  position: relative;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: #000000;
  color: white;
  size: 17px;
  width: 100%;
}

.mainWrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*background: blue;*/
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex: 7;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  /*border:1px dotted blue ;*/
}

.row {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  padding: 20px;
}

.form-group {
  display: flex;
  width: 100%;
  /*padding: 10px;*/
  justify-content: center;
  /*border: 1px dotted red;*/
}

.listEmployeesContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex:7;

  width: 70%;
  background: #646464;
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
  border: 2px red;
  margin: 10px;
}

.listOfEmployees{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 10px;
}

app-list-employees {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.containerLabel{
 font-weight: bold;
 display: flex;
 flex-direction: row;
 justify-content: center;
 width: 30%;
 margin-bottom: 0;
}

.containerInput{
  width: 100%;
}

.containerNewEmployee{
  /*background: yellow;*/
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newEmployee{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


element.style {
}

.formInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btnSave{
  width: 50%;
}

/*div{*/
/*  display: inline-flex;*/
/*}*/

.employeeCard{
  padding: 10px;
  width: 300px;
  /*height: 200px;*/
  border-radius: 10px;
  background: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*box-shadow: 8px 0px 0px 0px;*/
}

.employeeInfo{
  display: flex;
  flex-direction: row;
  height: 31px;
  margin-bottom: 10px;
}

.employeeContentWrap {
  display: flex;
  flex: 4;
  justify-content: space-evenly;
  align-items: center;
}

.employeeContent{
  height: 31px;
  /* display: block; */
  width: 80%;
  /* height: calc(1.5em + 0.75rem + 2px); */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.employeeCardBundle{
  flex:2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #b8b6b6;
  padding: 5px;
  height: 31px
}

.employeeKey{
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  background: #b8b6b6;
  margin-bottom: 10px;

}

.deleteEmployee{
  width: 70%;
}

.deleteEmployeeWrap{
  width: 100%;
  display: flex;
  justify-content: center;
}

app-firebase-list-employee {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.innerContainerLabel {
    /* border: 1px dotted; */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}


.containerInputEmployee{
  display: block;
  width: 70%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.containerEmployee {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}